.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.layout main {
  background: var(--color-light);
  width: 100%;
}

@media screen and (max-width: 1150px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
